# Your Okta Domain (e.g., https://dev-1234567.okta.com/oauth2/default)
OKTA_ISSUER=

# Your Okta Client ID
OKTA_CLIENT_ID=

# The expected Audience claim (leave default unless using Okta Org Authorization Server)
# OKTA_AUDIENCE=api://default
